/* styling */

body { 
  background-color: #eee;
  font-family: sans-serif;
}

#content {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  padding: 20px 5% 60px;

  background-color: #fff;
}

.pageTitle {
  text-align: center;
}

.policyCell--points {
  padding: 0;
  margin: 0;
  list-style-type: circle;
}

.policyCell {
  padding: 5px;
  line-height: 1.3em;

  &.partyTitle {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding-bottom: 5px;
    display: block;
  }

  &:last-of-type {
    border: none;
  }

  &--party {
    margin: 0;
  }
}

.policyTimeline {
  align-self: center;
  display: block;
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 10px 0;
}

.policyTopic {
  border: none;
}

.policyTopic--title {
  margin: 5px 0;
}

.policyRow {
  margin-bottom: 10px 0;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  flex-shrink: 0;
  /*transition: max-height 1s ease-in-out;
  overflow: hidden;*/

  &.tableHeader {
    padding: 0;
    border-bottom: 2px solid #000;
  }
}

.policyCells {
  padding-bottom: 10px;
}

.timelineRow {
  display: flex;
}

.timelineElement {
  display: inline-block;
  padding: 5px;
  width: 260px;

  color: #fff;
  font-size: 12px;
}

.event {
  background-color: #eee;
  opacity: 0.8;
  height: 18px;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 5px;
  font-weight: bold;
  color: #fff;

  display: flex;
  font-size: 11px;
  transition: all 0.2s ease-in-out;
  
  white-space: nowrap;

  &:hover {
    opacity: 1;
    cursor: pointer;
    padding: 2px 15px;

    .referenceText {
      width: 100%;
    }
  }
}

.spacer {
  background-color: none;
  border-bottom: 1px solid #ddd;
  height: 0px;
}

.referenceText {
  display: inline-block;
  overflow: hidden;
  width: 0%;
  line-height: 18px;
}

@media screen and (min-width: 650px) {
  .policyCell--points {
    padding-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  .policyCell {
    border-bottom: none;
  }

  .policyPoint {
    margin-bottom: 10px;
    /*padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;*/

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }
  }
}