/* layout */

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-5 { padding-bottom: 5rem; }

.hidden {
  display: none !important;
}

.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0.25rem 0;
  }
}

.block-center {
  margin: 0 auto;
}

.text-block {
  ul {
    padding-left: 40px;
  }
}

.flex {
  display: flex;

  &.flex-col {
    flex-direction: column;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-fixed {
  flex: 0 0 auto;
}

.align-items-center {
  align-items: center;
}

.header {
  display: inline;

  .langSelection, .headings {
    flex-basis: 100%;
  }

  .headings {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.policyTable {
  display: flex;
  flex-flow: column nowrap;

  a {
    color: inherit;
  }

  .policyRow {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    &.tableHeader {
      display: none;
      margin-bottom: 0;
    }
  }

  .policyCells {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
  }

  .policyCell {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    align-items: center;

    &.policyTopic {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }

  .policyCell--party {
    align-self: flex-start;
  }

  .policyCell--points {
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
  }

  .partyTitle {
    align-self: center;
    justify-content: center;
  }
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  padding: 0 7rem 7rem;
}

.hero-row {
  flex-direction: column;
}

.hero-text-group  {
  text-align: center;
}

.hero-image {
  margin-top: 2rem;

  & > img {
    object-fit: contain;
    max-width: 400px;
  }
}

@media screen and (min-width: 608px) {
  .header {
    .headings {
      flex-flow: row wrap;
    }
  }
}

@media screen and (min-width: 650px) {
  .policyTable {
    .policyCell {
      flex-direction: row;
    }

    .policyCell--party {
      min-width: 150px;
    }
  }
}

@media screen and (min-width: 800px) {
  .policyTable {
    .policyRow {
      flex-direction: column;

      &.tableHeader {
        display: flex;
      }
    }

    .policyCells {
      flex-direction: row;
    }

    .policyCell {
      flex-basis: 0%;
    }

    .policyCell--party {
      display: none;
    }
  }
}

@media screen and (min-width: 1144px) {
  .hero-row {
    flex-direction: row;
  }

  .hero-text-group {
    text-align: left;
  }

  .hero-text {
    min-width: 30rem;
  }

  .hero-image {
    margin-top: 2rem;
  }
}