a {
  text-decoration: none;
  padding: 0.125em 0.2em;

  &:hover {
    border-bottom: 1px solid #d2d2c9;
    border-radius: 3px;
  }

  &.styled:hover, .text-block &:hover {
    border-width: 2px;
    border-color: rgb(0, 102, 204);
    background: #fff;
  }
}

ul {
  padding-left: 0;
}

.text-large {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.text-default {
  font-size: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.text-block {
  max-width: 30em;
}

.text-center {
  text-align: center;
}

.subheading {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.075rem;
}