@import 'variables';
@import 'layout';
@import 'styles';
@import 'modal';
@import 'typography';
@import 'card';

.textColor--NDP {
  color: var(--ndp-color);
}
.textColor--Conservative {
  color: var(--cpc-color);
}
.textColor--Liberal {
  color: var(--lpc-color);
}
.textColor--Green {
  color: var(--gpc-color);
}


.backgroundColor--NDP {
  background-color: var(--ndp-color);
}
.backgroundColor--Conservative {
  background-color: var(--cpc-color);
}
.backgroundColor--Liberal {
  background-color: var(--lpc-color);
}
.backgroundColor--Green {
  background-color: var(--gpc-color);
}
.backgroundColor--Bloc {
  background-color: var(--bq-color);
}
.backgroundColor--Empty {
  background-color: var(--color-charcoal-dark);
}
.backgroundColor--Skeleton {
  background-color: var(--color-cream-darker);
}
.backgroundColor--secondaryAction {
  background-color: var(--color-cream-dark)
}