$ndp-color: #F37021;
$cpc-color: #1A4782;
$lpc-color: #D71920;
$gpc-color: #3d9b35;
$dark-grey: #333;

@import 'layout';
@import 'styles';
@import 'modal';
@import 'typography';

.textColor{
  &--NDP {
    color: $ndp-color;
  }
  &--Conservatives {
    color: $cpc-color;
  }
  &--Liberals {
    color: $lpc-color;
  }
  &--Green {
    color: $gpc-color;
  }
}


.backgroundColor{
  &--NDP {
    background-color: $ndp-color;
  }
  &--Conservatives {
    background-color: $cpc-color;
  }
  &--Liberals {
    background-color: $lpc-color;
  }
  &--Green {
    background-color: $gpc-color;
  }
  &--Empty {
    background-color: $dark-grey;
  }
  &--Skeleton {
    background-color: #ddddd5;
  }
}