.guide--wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.guide {
  width: auto;
  max-width: min(calc(100vw - 2rem), 800px);
  text-align: center;
  padding: 2rem 0.5rem;
  margin: 1rem auto;

  border: 1px solid var(--color-cream-darker);
  background: linear-gradient(to top, #faf6f1, #f9f5f0);
  border-radius: 20px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.2);
  background: radial-gradient(50% 30% at 50% 20%, #fccc40, transparent),
              radial-gradient(120% 50% at 50% 50%, #f95258, transparent 50%),
              radial-gradient(50% 30% at 50% 80%, #3b87e0, transparent);

  @media screen and (min-width: 800px) {
    margin: 1rem auto 2rem;
    padding: 3rem 1rem;
  }
}

.guide--langSelector {
  font-weight: bold;
  user-select: none;
  color: var(--color-cream-darker);

  a {
    color: var(--color-cream-darkest);
  }

  a:hover {
    color: #000;
    border: none;
  }
}

.guide--heading {
  justify-content: center;
  display: flex;
  padding: 0 1rem;
}

.guide h1 {
  font-weight: 800;
  margin: 0;
  max-width: 600px;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: 1rem;

  @media screen and (min-width: 660px) {
    font-size: 3rem;
    line-height: 3.4rem;
    margin-bottom: 1.2rem;
  }
}

.guide--topic-selector {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px 0;
}

.guide--topic-selector-item {
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 10%);
  padding: 4px 10px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  /* font-weight: bold; */
  color: #000;
  background-color: rgba(255, 255, 255, 40%);
  box-shadow: 0 0 30px rgba(255, 255, 255, 30%);
  transition: background-color 0.6s ease, border 1s ease;

  &:hover {
    /* background-color: var(--color-cream); */
    border-color: #fff;
    background-color: rgba(255, 255, 255, 70%);
  }

  @media screen and (min-width: 500px) {
    font-size: 1.02rem;
  }

  @media screen and (min-width: 800px) {
    padding: 6px 16px;
  }
}

.guide--topic-selector-item label {
  cursor: pointer;
  user-select: none;
}

.guide--topic-selector-item input {
  margin-left: 10px;
}

.guide--topic-selector-item-checked {
  border-color: #fff !important;
  background-color: #fff !important;
  color: var(--color-charcoal-dark);
}

.guide--submit-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;

  a {
    color: #fff;

    &:hover {
      border-color: #fff;
    }
  }

  p {
    margin: 0;
  }

  @media screen and (min-width: 460px) {
    flex-direction: row;
  }
}