.guide--page {
  --gutter-width: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.guide--wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2rem;
}

.guide {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;

  border: 3px solid var(--color-charcoal);
  background: linear-gradient(to top, #faf6f1, #f9f5f0);
  border-radius: 1rem;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.2);
  /* background: radial-gradient(50% 30% at 50% 20%, #fccc40, transparent),
              radial-gradient(120% 50% at 50% 50%, #f95258, transparent 50%),
              radial-gradient(50% 30% at 50% 80%, #3b87e0, transparent); */

  background: 
    linear-gradient(45deg, #3b87e0 10%, transparent 30%, transparent 70%, #f58220 90%),
    radial-gradient(100% 100% at 50% 50%, #d71920, transparent 60%),
    radial-gradient(80% 80% at 20% 20%, #3b87e0, transparent 70%),
    radial-gradient(80% 80% at 80% 80%, #d71920, transparent 70%),
    linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    );

  @media screen and (min-width: 800px) {
    padding: 1.25rem;
    margin: 1rem auto 2rem;
  }
}

.guide--langSelector {
  font-weight: bold;
  user-select: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--color-cream-darker);

  a {
    color: var(--color-cream-darkest);
  }

  a:hover {
    color: #000;
    border: none;
  }
}

.guide--heading {
  justify-content: center;
  display: flex;
  padding: 0 1rem;
  font-weight: bold;
  text-wrap: balance;
}

.guide--heading h1 {
  font-weight: 800;
  margin: 0;
  font-size: 2.2rem;
  line-height: 2rem;
  margin-top: 1rem;

  @media screen and (min-width: 500px) {
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 0.6rem;
  }

  @media screen and (min-width: 700px) {
    font-size: 3rem;
    line-height: 3.4rem;
    margin-bottom: 0.6rem;
  }
}

.guide--topic-selector {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  margin: 0;
  justify-content: center;

  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  @media screen and (min-width: 915px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.guide--topic-selector-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgba(255, 255, 255, 10%);
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 20%);
  box-shadow: 0 0 30px rgba(255, 255, 255, 20%);
  transition: background-color 0.3s ease;
  height: 100%;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.1rem;

  @media screen and (min-width: 500px) {
    aspect-ratio: 1 / 1;
    flex-direction: column;
    justify-content: center;
    font-size: 1.02rem;
    font-size: 1.02rem;
    padding: 4px 10px;
  }

  @media screen and (min-width: 800px) {
    padding: 1rem 6px;
    aspect-ratio: auto;
  }
}

.guide--topic-selector-item label {
  cursor: pointer;
  user-select: none;
}

.guide--topic-selector-item input {
  margin-left: 10px;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.guide--topic-selector-item-checked {
  border-color: #fff !important;
  background-color: var(--color-cream-light) !important;
  color: var(--color-charcoal-dark);
}

.guide--topic-selector-item:focus-within {
  outline: none;
  color: var(--color-charcoal-darker) !important;
  border-color: var(--color-charcoal-darker) !important;
  /* background-color: var(--color-charcoal-darker) !important; */
}

@media(hover: hover) and (pointer: fine) {
  .guide--topic-selector-item:hover {
    color: var(--color-charcoal-dark);
    border-color: #fff;
    background-color: rgba(255, 255, 255, 60%);
  }
}

.guide--topic-selector-item-checked:focus-within {
  background-color: var(--color-cream-light) !important;
  color: var(--color-charcoal-dark) !important;
}

.guide--submit-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;

  .btn {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    text-transform: none;
    margin: 0.5rem 0;

    @media screen and (min-width: 500px) {
      width: auto;
      font-size: 1.4rem;
    }
  }

  a {
    color: var(--color-charcoal-darker);

    &:hover {
      border-color: var(--color-charcoal-darker);
    }
  }

  p {
    margin: 0;
  }
}