/* layout */

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-5 { padding-bottom: 5rem; }

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  border-radius: 6px;
}

.list--item {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > input[type="checkbox"] {
    margin-left: 1rem;
  }
}

.button--pill {
  display: inline-block;
  border: 2px solid #d9d9ca;
  padding: 2px 10px;
  margin: 0 3px 5px;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
  }

  &.enabled {
    &::after {
      color: #333 !important;
      font-size: 0.8rem;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(odd) {
    background-color:#d9d9ca;
  }
}

.block-center {
  margin: 0 auto;
}

.text-block {
  ul {
    padding-left: 40px;
  }
}

.flex {
  display: flex;

  &.flex-col {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-row-reverse {
    flex-direction: row-reverse;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-no-wrap {
    flex-wrap: nowrap;
  }

  &.flex-responsive {
    flex-wrap: wrap;

    @media screen and (min-width: 800px) {
      flex-direction: row;
    }
  }

  &.flex-justify-center {
    justify-content: center;
  }

  &.flex-justify-between {
    justify-content: space-between;
  }

  &.flex-justify-around {
    justify-content: space-around;
  }
}

.flex-justify-end {
  justify-content: end;
}

.flex-default {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-fixed {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.gap-3 {
  gap: 3rem;
}

.align-items-center {
  align-items: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content {
  flex: 1;
}

.settings-panel {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 350px;
  padding: 0.5rem 0;

  &.collapsed {
    max-height: 2.6rem;
  }

  .settings-panel--content {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .settings-panel--settings {
    gap: 1rem;
  }
}

.topic-change-hint {
  position: absolute;
  top: -85px;
  left: 290px;
  right: 0;
  z-index: -1;

  text-indent: -9999em;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
  border: none;
}

.header {
  display: inline;

  .langSelection {
    text-align: right;
    order: -1;
    margin-bottom: -20px;
    z-index: 1;
  }

  .langSelection, .headings {
    flex-basis: 100%;
  }

  .headings {
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .header--secondary-content {
    display: contents;
  }
}

.policyTable {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  a {
    color: inherit;
  }

  .policyRows {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .policyRow {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    /* flex: 1 0 auto; */

    &.tableHeader, &.tableFiller {
      margin-bottom: 0;
      display: none;
    }
  }

  .policyTable--empty {
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    color: #88887b;
  }

  .policyTable--mobileFilter {
    position: relative;
    position: sticky;
    top: 10px;
    height: 3rem;
    background: var(--color-charcoal-dark);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px -10px 0px 10px var(--color-cream);
    font-weight: bold;

    &.topicSelector--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .policyCells {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    padding: 0 1rem;
  }

  .policyCell {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    align-items: center;

    &.policyTopic {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }

  .policyCell:not(.partyTitle):nth-child(n+3) {
    margin-top: 1.5rem;
  }

  .policyCell--party {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-weight: bold;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .policyCell--points {
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
  }

  .partyTitle {
    align-self: center;
    justify-content: center;
    user-select: none;
  }

  .policyCell-action {
    align-self: center;
    justify-content: center;
    user-select: none;
    flex: 0 0 40px !important;
  }
}

.policyTableColumn--icon {
  right: 1rem;
  margin-top: 0.2rem;
  position: absolute;
  color: #aaa;
}

#policyTableColumn--topics {
  position: relative;
  cursor: pointer;
}

.policyTable--filterBar {
  visibility: hidden;
  overscroll-behavior: none;
  max-height: 50vh;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  border: 2px solid var(--color-charcoal-dark);
  width: 100%;
  border-top: none;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.policyTable--filterBar--open {
  visibility: visible;
}

.policyTable--filterBar--toggleAll {
  background: #fff;
  color: #757575;
  border-bottom: 1px solid #ddddcb;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  cursor: auto;
  flex-direction: row-reverse;
}

.policyTable--filterBar--toggle {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;

  &:hover {
    cursor: pointer;
  }

  & a:hover {
    border-bottom: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  padding-bottom: 5rem;
}

.hero-row {
  flex-direction: column;
}

.hero-text-group  {
  text-align: center;
}

.hero-image {
  margin-top: 2rem;

  & > img {
    object-fit: contain;
    max-width: 400px;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 650px) {
  .policyTable {
    .policyCell {
      flex-direction: row;
    }

    .policyCell--party {
      min-width: 150px;
    }
  }
}

@media screen and (min-width: 800px) {
  .header {
    .headings {
      height: 120px;
    }

    .header--secondary-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: end;
      height: 100%;
    }
  }

  .policyTable {
    .policyRow {
      flex-direction: column;

      &.tableHeader, &.tableFiller {
        display: flex;
      }
    }

    .policyCell.policyTopic, #policyTableColumn--topics {
      max-width: 328px;
    }

    .policyTable--mobileFilter {
      display: none;
    }

    .policyTable--filterBar--item {
      padding: 0.5rem 1rem;
      border-bottom: none;
    }

    .policyCells {
      flex-direction: row;
      padding: 0;
    }

    .policyCell {
      flex-basis: 0%;
    }

    .policyCell:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .policyRow.fixed .policyCell:first-child {
      border-top-left-radius: 0;
    }

    .policyCell:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .policyRow.fixed .policyCell:last-child {
      border-top-right-radius: 0;
    }

    .policyCell:not(.partyTitle):nth-child(n+3) {
      margin-top: 0;
    }

    .policyCell--party {
      display: none;
    }

    .policyTable--filterBar {
      width: calc(100% - 15px);
    }
  }
}

@media screen and (min-width: 1110px) {
  .lang-EN .topic-change-hint,
  .lang-FR .topic-change-hint {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    animation-delay: 0.2s;
  }

  .lang-EN .topic-change-hint {
    background-image: url('../img/click-to-change-topics.en.png');
  }

  .lang-FR .topic-change-hint {
    background-image: url('../img/click-to-change-topics.fr.png');
  }

  .topic-change-hint-visible {
    opacity: 1;
  }
}

@media screen and (min-width: 1144px) {
  .hero-row {
    flex-direction: row;
  }

  .hero-text-group {
    text-align: left;
    padding-right: 1rem;
  }

  .hero-text {
    min-width: 30rem;
  }

  .hero-image {
    margin-top: 2rem;
  }

  .hero {
    padding: 0 7rem 7rem;
  }
}