.policyModal--content {
  position: absolute;
  background: var(--color-cream-light);
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;

  border-radius: 0;
  left: 8px;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: none;
  overflow: auto;
  border: none;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.policyModal {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.modal--content {
  flex-direction: column;
  padding: 35px;
  display: flex;
  flex: 2;
}

.modal--headingInfo {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 30px;

  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.05em;

  p { margin: 0; }
  a { color: #888; }
}

.modal--headingContainer {
  display: flex;
  align-items: center;
}

.modal--heading {
  line-height: 1em;

  &.modal--heading__primary {
    font-size: 200%;
    margin: 40px 0 10px;
  }

  &.modal--heading__secondary {
    font-size: 1.2em;
  }
}

.modal--details {
  font-size: 1.2rem;
  line-height: 1.3em;

  & li > p {
    margin: 0;
  }

  p {
    flex: 0 1 520px;
  }

  ul {
    padding-left: 40px;
  }

  blockquote {
    color: #777;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }

  h1, h5, h6 { text-transform: uppercase; }
  h4 { font-style: italic; }
}

.reference-modal--sidebar {
  padding: 21px;
}

.modal--sidebar {
  padding: 21px;
  background: #303030;
  color: #fff;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  a {
    color: #fff;
    text-decoration: none;
    display: inherit;
    padding: 0;
    border: none;
  }
}

.modal--close, .reference-modal--close {
  &::before {
    color: #ffbd00;
  }

  &:hover::before {
    color: #222;
  }
}

.modal--close {
  padding: 0;
  border: none;
  position: absolute;
  right: 21px;
  top: 39px;

  &:before {
    font-family: 'FontAwesome';
    font-size: 32px;
    content: '\f00d';
    padding: 6px 10px;
    margin-right: -10px;
  }

  &:hover {
    border: none;
  }
}

.reference {
  list-style: none;
  margin-bottom: 15px;

  a:hover {
    text-decoration: underline;
    border: 0;
  }
}

.reference--list {
  padding-left: 0;
  flex: 1;

  li {
    padding: 5px;
    margin-left: -5px
  }

  &.list-plain li:nth-child(even) {
    background-color: #f0f0ec;
    border-radius: 5px;
  }
}

.reference--title {
  font-size: 1rem;
  margin: 0;
  color: #ddd;
}

.reference--meta {
  font-size: 0.75em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #999;
}

.modal--randomize {
  order: -1;
  margin-bottom: 1.5rem;
}

.randomize-policy {
  display: block;
  text-align: center;
  border-radius: 3px;
  padding: 5px 15px!important;
  border: 2px solid #222 !important;
  background: #222;

  &:hover {
    border-color: #ffbd00 !important;
  }

  &::after {
    color: #ffbd00;
  }
}

@media screen and (min-width: 800px) {
  .ReactModal__Content {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform .2s ease-in-out; /*or cubic-bezier(.4,0,.5,1.4)*/
    transform: scale(0.3);

    &.ReactModal__Content--after-open {
      transform: scale(1);
    }
  }


  .modal--headingInfo {
    margin-right: 0;
  }

  .reference-modal--content {
    .modal--headingInfo {
      margin-right: 30px;
    }
  }

  .policyModal--content {
    margin: 0 auto;
    top: 10%;
    bottom: 10%;
    left: 0;
    max-height: 600px;
    max-width: 1000px;
    background: #303030;
    overflow: hidden;
    border-radius: 8px;
    border: 5px solid #303030;
  }

  .policyReferenceModal--content {
    max-width: 570px;
  }

  .modal--heading__secondary {
    margin-bottom: 30px;
  }

  .policyModal {
    height: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
  }

  .modal--details {
    font-size: 1.1rem;
  }

  .modal--content {
    flex: 2.5;
    overflow-y: scroll;
    background-color: var(--color-cream-light);
  }

  .modal--sidebar {
    flex: 1;
    bottom: auto;
    position: static;
    width: auto;
    overflow-y: scroll;
  }

  .modal--close {
    top: 21px;

    &::before {
      color: var(--color-cream);
    }

    &:hover::before {
      color: #ffbd00;
    }
  }

  .reference-modal--close {
    top: 39px;

    &::before {
      color: #ffbd00;
    }

    &:hover::before {
      color: #222;
    }
  }

  .modal--randomize {
    order: 100;
    margin-bottom: 0;
  }
}
