/* styling */

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
select,
textarea {
  color: #222;
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}

body {
  background-color: var(--color-charcoal-darker);
  color: #303030;
  font-family: 'Causten Round', sans-serif;
  line-height: 1.3em;
  margin: 0;
}

a {
  color: rgb(0, 102, 204);
}

.text-color-dim {
  color: #707070;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
}

.page {
  position: relative;
}

.page-content {
  background-color: var(--color-cream);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 -15px 15px rgba(0,0,0,0.2);
  border-top: 2px solid #fff;
}

.section {
  padding-top: 20px;
  position: relative;
}

.content {
  margin-bottom: auto;
}

.btn {
  background-color: var(--color-cream);
  border: 2px solid var(--color-cream-dark);
  color: var(--color-charcoal-dark);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Causten Round', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.btn-compact {
  padding: 3px 10px 0; /* why is there base padding? */
  font-size: 0.8rem;
}

.btn-primary {
  background-color: var(--color-yellow-light);
  border-color: var(--color-yellow-light);
  color: var(--color-yellow-darkest);

  &:hover, &:focus, &:active {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-darker);
    color: var(--color-charcoal-darkest);
  }
}

.header {
  max-height: 150px;
}

.langSelection {
  text-align: right;

  a {
    color: #aaa;
    text-decoration: none;
    padding: 0;
    border: none;
  }
  .active { color: #666; }
}

.divider-t {
  border-top: 1px solid #DCDCD5;
}

.bg-dark-alt {
  background-color: var(--color-cream-dark);
  color: #4C4C42;
  a {
    color: #57574C;
    &:hover {
      background: var(--color-cream);
    }
  }
}

.pageTitle {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.7em;
  text-indent: -9999em;
  min-width: 140px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
  margin-bottom: 0;
  border: none;

  &.lang-EN { background-image: url('../img/op_logo_en.min.svg'); }
  &.lang-FR { background-image: url('../img/op_logo_fr.min.svg'); }
}

.pageSubTitle {
  font-size: 2.3rem;
  line-height: 2.5rem;
  text-align: right;
  flex: 0 1 auto;
  font-weight: 900;
  margin: 0;
  margin-top: 20px;
}

.legend {
  font-style: italic;
  color: #666;
  font-size: 0.9em;
}

.footer {
  border-top: 1px solid var(--color-cream-darker);
}

.list {
  overflow-x: hidden;
}

.list--light {
  color: #404040;
  background: #fff;
}

.list--dark {
  color: #fff;
  background: var(--color-charcoal-darker);
}

.list--light .policyTable--filterBar--item {
  border-bottom: 1px solid #eee;
}

.list--light .list--item.active {
  background: var(--color-yellow-light);
}

.list--dark .list--item.active {
  background: var(--color-charcoal);
}

.list--item:not(.active):hover {
  cursor: pointer;
}

.list--item.active:hover {
  cursor:default;
}

.list--light .list--item:not(.active):hover {
  background-color: var(--color-cream-light);
}

.list--dark .list--item:not(.active):hover {
  background-color: var(--color-grey-lighter);
  color: var(--color-charcoal-darkest);
}

.list--dark li {
  @media screen and (min-width: 800px) {
    flex-direction: row;
    border-right: 1px solid var(--color-charcoal);
  }

  &:last-of-type {
    border-right: none;
  }
}

.policyRow:not(.tableHeader) {
  border: 1px solid var(--color-cream-dark);
  border-bottom: 1px solid var(--color-cream-darker);
  padding: 1rem 0;
  background: linear-gradient(to top, #faf6f1, #f9f5f0);
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.policyCell--points {
  padding-left: 1rem;
  margin: 0;
  list-style-type: circle;
}

.policyCell {
  padding: 5px;
  padding-right: 1rem;
  font-size: 1.2rem;
  line-height: 1.3em;

  &.partyTitle {
    text-align: center;
    padding: 15px;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &.policyCell-action {
    text-align: center;
    padding: 15px;
    display: block;
    background-color: var(--color-cream-dark);
    font-weight: bold;
    font-size: 1.2rem;

    &:hover {
      background-color: var(--color-cream-light);
    }
  }

  &:last-of-type {
    border: none;
  }
}

.policyCell--party {
  margin: 0;
}

.policyTimeline {
  align-self: center;
  display: block;
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 31px 0 10px;
  position: relative;
  overflow: hidden;
}

.policyTopic {
  text-align: center;

  &:hover {
    .policyTopic--info {
      border: 2px solid var(--color-cream-darker);
      cursor: pointer;
    }

    .policyTopic--info > i {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.policyTopic--info {
  background-color: var(--color-cream-light);
  border-radius: 6px;
  padding: 5px 8px 4px;
  margin-left: calc(-1rem - 8px - 2px);
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;

  & > i {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.2s ease-in-out;
    transform: scale(0.1);
  }
}

.policyTopic--title {
  margin: 5px 0;
  font-weight: bold;
}

.policyRow {
  margin-bottom: 10px 0;
  padding: 10px 0;
  flex-shrink: 0;

  &.tableHeader, &.tableFiller {
    padding: 0;
    border-bottom: none;
    margin-bottom: 10px;
    height: 50px; /* Needed for fixed header */
  }

  &.fixed {
    position: fixed;
    top: 0;
    padding: 0;
    padding-right: calc(var(--gutter-width) * 2);
    z-index: 1000;
  }
}

.policyPoint {
  margin-bottom: 1rem;

  &:last-of-type {
    border: none;
    margin-bottom: 0;
  }
}

.policyPoint--link {
  cursor: pointer;
  padding: 0;
  border: none;
}

.customBullet {
  list-style: none;
}

.iconPrefix::before {
  font-family: 'FontAwesome';
  color: var(--color-yellow);
  margin: 0 5px 0 -20px;
}

.iconSuffix::after {
  font-family: 'FontAwesome';
  color: var(--color-green);
  margin: 0 0 0 5px;
}

.iconPrefix--star:before {
  content: '\f005';
}

.iconSuffix--close::after {
  content: '\f00d';
}

.iconSuffix--comment::after {
  content: '\f0e5';
}

.iconSuffix--random::after {
  content: '\f074';
  vertical-align: middle;
}

.emptyPolicy {
  color: var(--color-cream-darkest);
  font-style: italic;
}

.no-hover:hover {
   border-bottom: 0;
}

.event {
  background-color: #eee;
  opacity: 0.8;
  height: 18px;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 5px;
  font-weight: bold;
  color: #fff;

  display: flex;
  font-size: 11px;
  transition: all 0.2s ease-in-out;

  white-space: nowrap;

  &:hover {
    opacity: 1;
    cursor: pointer;
    padding: 2px 15px;

    .referenceText {
      width: 100%;
    }
  }
}

.referenceText {
  display: inline-block;
  overflow: hidden;
  width: 0%;
  line-height: 18px;
}

.spinner {
  width: 100%;
  height: 64px;
  text-align: center;
  background: url('../img/spinner.gif') no-repeat center center;
}

.banner {
  padding: 20px;
  background: #ecf9d6;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #acd961;
  color: #292929;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &::before {
    content: '\f05a';
    font-family: 'FontAwesome';
    margin-right: 5px;
    float: left;
    color: var(--color-green);
  }
}

.banner--content {
  margin-left: 2rem;

  a {
    color: #4c7900;
    border-bottom: 2px solid #b2d080;

    &:hover {
      border-color: #4c7900;
    }
  }
}

.archive-list {
  margin-bottom: 20px;
}

.hero-cta::after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  padding-left: 6px;
  color: #0066cc;
  vertical-align: top;
}

#policyTableColumn--topics:hover .policyTableColumn--icon {
  color: #fff;
}

.settings-panel {
  background-color: var(--color-charcoal-darker);
  color: #fff;

  .setting {
    height: 100%;
    padding: 0.5rem;

    background-color: var(--color-charcoal-dark);
    border: 1px solid var(--color-charcoal);
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    a {
      color: var(--color-yellow-light);
    }

    @media screen and (min-width: 600px) {
      padding: 1.5rem;
    }
  }
}

@media screen and (min-width: 650px) {
  .policyCell--points {
    padding-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  .pageTitle {
    height: 120px;
    min-width: 270px;
    margin-bottom: 0;
  }

  .pageSubTitle {
    font-size: 4.5rem;
    margin: 0;
  }

  .policyCell {
    border-bottom: none;
    font-size: 17px;
  }

  .policyRow.tableFiller {
    display: flex;
  }

  .policyPoint { margin-bottom: 10px; }
}