:root {
  --ndp-color: #F37021;
  --cpc-color: #1A4782;
  --lpc-color: #D71920;
  --gpc-color: #3d9b35;

  --color-light-grey: #aaaaaa;
  --dark-grey: #333;
  --color-cream: #f9f9f1;
  --color-cream-light: #fffff9;

  --gutter-width: 20px;
}