:root {
  --ndp-color: #F37021;
  --cpc-color: #1A4782;
  --lpc-color: #D71920;
  --gpc-color: #3d9b35;

  --color-light-grey: #aaaaaa;
  --dark-grey: #333;
  --color-cream: #efe8df;
  --color-cream-light: #f9f5f0;
  --color-cream-dark: #d7cfc4;
  --color-cream-darker: #bdb5a9;
  --color-cream-darkest: #57534c;
  --gutter-width: 20px;
}