:root {
  --ndp-color: #F37021;
  --cpc-color: #1A4782;
  --lpc-color: #D71920;
  --gpc-color: #3d9b35;

  --color-green-lighter: #eff9e1;
  --color-green-light: #ceeba0;
  --color-green: #9ec460;

  --color-yellow-light: #ffd769;
  --color-yellow: #ffbd00;
  --color-yellow-dark: #ce9a0c;
  --color-yellow-darker: #bb9019;
  --color-yellow-darkest: #574104;

  --color-grey-lightest: #eee;
  --color-grey-lighter: #ccc;
  --color-grey-light: #aaaaaa;
  --color-charcoal-medium: #888888;
  --color-charcoal: #404040;
  --color-charcoal-dark: #303030;
  --color-charcoal-darker: #222;
  --color-charcoal-darkest: #111;

  --color-cream-light: #f9f5f0;
  --color-cream: #efe8df;
  --color-cream-dark: #d7cfc4;
  --color-cream-darker: #bdb5a9;
  --color-cream-darkest: #57534c;

  --color-blue: #0066cc;

  --gutter-width: 20px;
}